<ul id="headerLinksList">
    <script>
        const links = [
            {
                link:'./index.html',
                name: 'Home'
            },
            {
                link:'./chart.html',
                name: 'Chart'
            },
            {
                link:'./test.html',
                name: 'Test'
            },
        ];
        links.forEach(link=>{
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.innerText = link.name;
            a.href = link.link;
            li.appendChild(a);
            headerLinksList.appendChild(li);
        });
    </script>
</ul>
<style>
    ul{
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 70px;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        position: sticky;
        top: 0;
    }
    li{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    a{
        text-decoration: none;
        margin: 0 10px;
        color: black;
    }
    a:visited{
        color: orangered;
    }
</style>